# Mac hidden files and other similar
.Rapp.history
.DS_Store

# knitr caches
cache

# Ignore bulk_data directories, used to store source data that is subsetted for use
bulk_data

# Ignore the jupyter-book build directory
practicals/_build
.ipynb_checkpoints

# Ignore the practical data zipfile
practicals/practical_data.zip

# Local python settings
.python-version

# Ignore zipped data directory - bundle for students
practicals/data.zip
