/* @theme gaia-local */

@import 'gaia';

/* decrease the slide padding */
.section {
  padding: 40px;
}

/* define some custom column classes */
.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.columns12 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.columns21 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

/* some dot styles for creating span circles */
.dotr {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dotg {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}