/* Theme overrides */

/* Reduce the size and change the colour of slide headings */
.reveal h1 {
    color: red;
    font-size: 2em;
    top: 0 !important;
}

.reveal img {
    margin: 10px 0px;
}


/* Column layouts using flex boxes within a flex container */

.container{
    display: flex;
}

.col1{
    flex: 1;
}

.col2{
    flex: 2;
}

.col3{
    flex: 3;
}


/* Vertical spacers to separate elements */

.vs{
    height: 40px;
}

/* Text alignment and padding */

.leftpad{
    text-align: left;
    padding: 0px 0px 0px 80px;
}

.rightpad{
    text-align: left;
    padding: 0px 80px 0px 0px;
}


.reveal p {
    margin: 0px
}


.dotr {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dotg {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}



/* turn off ugly borders around images from simple theme */
/*.reveal section img, .reveal img, img{
	border:0
}
*/

/* mathjax equation size */

.MathJax {
font-size: 1em;
}


/* margin control */
.reveal .slides {
  height: 100%;
  top: 0;
  margin-top: 0%;
  left: 20px;
  margin-left: 0%;
}

.reveal .slides>section {
  min-height: 90%;
}

.reveal .slides>section>section {
  min-height: 100%;
}

/* styling to put titles at top by making vertical content fit 100% */

/*.reveal .slides > section.present, .reveal .slides > section > section.present {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
}
section > h1 {
  position: absolute !important;
  top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
}

.print-pdf .reveal .slides > section.present, .print-pdf .reveal .slides > section > section.present {
  min-height: 770px !important;
  position: relative !important;
}
*/
